@charset "utf-8";
/* CSS Document */
/* フォントサイズ等　デザインの80%スケールで設定 */

html,body {margin: 0; padding: 0;}
body,
a,
a:link,
a:hover,
a:visited{
	color: #495152;
	font-size: 14px;
}
a {display: block;transition: all .2s;}
a:hover {opacity: 0.7;}
/*@font-face {
	font-family: adobe-garamond-pro;
	src: local('Arvo'), url("https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-display: swap;
}*/
.fmin {font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"}
.fgar {
	font-family: adobe-garamond-pro, serif;
	font-weight: 400;
	font-style: normal;
}
.mb100 {margin-bottom: 100px;}
.mb54 {margin-bottom: 54px;}


/* ------------------------------- */
/* common */
/* ------------------------------- */
body {
	min-width: 1280px;/*ぎりぎり崩れない幅*/
}
body:not(.error404) .wrap {
	max-width: none;
	padding: 0;
}
#page {
	display: flex;
	flex-direction: column;
/*	flex-wrap: wrap;*/
	min-height: 100vh;
}
.site-content-contain {
	flex-grow: 1;
}
header .tel a,
footer .contactBox .tel a {
	cursor: default;
}
header .tel a:hover,
footer .contactBox .tel a:hover {
	opacity: 1;
}
.fadein {
	opacity : 0;
	transition:all 0.5s;
}
.fadein.scrollin {
	opacity : 1;
}
.page:not(.home) #content {
	padding-bottom: 0;
}
@media screen and (min-width: 48em) {
	.page:not(.home) #content {
		padding-bottom: 0;
	}
}
small {
	font-size: 100%;
}
/* -------------- */
/* btn */
/* -------------- */
.btn-wrap .btn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 17px;
	text-align: center;
}
.btn-wrap a.btn:hover {
	opacity: 1;
	color: #495152;
}
.btn-wrap .btn .btn-ttl {
	margin-right: 5px;
}
.btn-wrap .btn.line:after {
	border-top: 1px solid #495152;
	content: "";
	display: inline; /* for IE */
	flex-grow: 1;
	margin-left: 0.5em;
}
.btn-wrap .btn .icon {
	width: auto;
	height: auto;
	line-height: 0;
}
.btn-wrap .btn .icon {
	position: relative;
	width: 17px;
	height: 18px;
	background-image: url("../img/common/icon_link.png");
	background-size: cover;
	line-height: 0;
	transition: background .2s ease;
	transition: opacity .2s ease;
}
/*.btn-wrap .btn:hover .icon {
	background-image: url("../img/common/icon_link_hover.png");
	transition: background .2s ease;
}*/
.btn-wrap .btn:hover .icon {
	background-image: none;
}
.btn-wrap .btn .icon:after {
	position: absolute;
	left: -2px;
	top: -2px;
	transform: scale(0.7);
	width: 17px;
	height: 18px;
	content: url("../img/common/icon_link_hover.png");
	opacity: 0;
	transition: opacity .2s ease;
}
.btn-wrap .btn:hover .icon:after {
	opacity: 1;
}
.btn-wrap .btn .icon img {
	width: 18px;
	height: auto;
}

/* ------------------------------- */
/* header */
/* ------------------------------- */

/*header .header-inner {
	max-width: 1536px;
}*/
header {
	width: 100%;
	background-color: #ffffff;
}
header .header-inner {
	display: flex;
	margin: 0 auto;
	padding-bottom: 40px;
}
header .logo {
	display: flex;
	align-items: flex-end;
	margin-left: 56px;
	padding-bottom: 10px;
	line-height: 0;
}
header .logo img {
	width: 305px;
	height: auto;
}
header .right-box {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 auto;
}
header .nav-wrapper {
	display: flex;
	align-items: flex-end;
	padding-bottom: 10px;
}
header .nav {
	display: flex;
	flex-wrap: wrap;
	margin-right: 10px;
}
header .nav li {
	transition: all .2s;
	border-bottom: 2px solid transparent;
}
header .nav li a {
	margin: 8px 0;
	padding: 0 20px;
	font-size: 16px;
	line-height: 1;
	border-right: 1px solid currentColor;
}
header .nav li a:hover {
	opacity: 1;
}
header .nav li:last-child a {
	border: none;
}
header .nav li:hover {
	border-bottom: 2px solid currentColor;
}
header .contact-wrapper {
	margin: 0 0 0 auto;
	padding: 11px 25px;
	color: #ffffff;
	text-align: center;
	background-color: #495152;
}
header .ttl {
	margin-bottom: 10px;
	padding-bottom: 3px;
	font-size: 12px;
	border-bottom: 1px solid #ffffff;
}
header .tel,
header .tel a {
	font-size: 18px;
	font-weight: bold;
}
header .tel a {
	display: inline-block;
	color: #ffffff;
}
header .time {
	font-size: 12px;
	line-height: 1;
}

@media screen and (max-width: 1265px) {
	header .logo {
		align-items: center;
	}
	header .right-box {
		flex-wrap: nowrap;
		align-items: center;
	}
}

/* ------------------------------- */
/* page-title */
/* ------------------------------- */
.header_title {
	margin-bottom: 24px;
}
.header_title_inner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 8.57% 0;
	z-index: 5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#information_title .header_title_inner {
	background-image: url(../img/information/header_img.jpg);
}
#lawyers_title .header_title_inner {
	background-image: url(../img/lawyers/header_img.jpg);
}
#practices_title .header_title_inner {
	background-image: url(../img/practices/header_img.jpg);
}
#costs_title .header_title_inner {
	background-image: url(../img/costs/header_img.jpg);
}
.header_title h2 {
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 17px;
	font-weight: normal;
}
.header_title h2 .fgar {
	display: block;
	font-size: 53px;
	letter-spacing: 2px;
	line-height: 1.4;
	text-transform: capitalize;
}
.header_title_foot {
	padding-top: 3.8%;
	background-image: url("../img/common/bg_ttl.jpg");
	background-size: cover;
}
/* ------------------------------- */
/* footer */
/* ------------------------------- */
footer {
	width: 100%;
/*	position: fixed;
	bottom: 0;*/
}
footer .footer-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	padding-top: 2%;
	text-align: center;
}
footer .contact-wrapper,
footer .contactBox,
footer .nav-wrapper,
footer .copyright {
	width: 100%;
}
footer .logo {
	width: 281px;
	height: auto;
	margin-bottom: 38px;
	text-align: center;
}
footer .logo img {
	width: 100%;
	height: auto;
}
footer .logo .address {
	margin-top: 5px;
	font-size: 12px;
}


footer .contact-wrapper {
	margin-bottom: 18px;
}
footer .contactBox {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
footer .contactBox .ttl {
	padding: 3px 30px;
	font-size: 15px;
	border: 1px solid #495152;
}
footer .contactBox .tel {
	display: flex;
	padding: 0 20px;
	font-size: 32px;
	line-height: 1;
	font-weight: bold;
}
footer .contactBox .tel a {
	font-size: 32px;
}

footer .nav-wrapper {
	padding: 6px 0;
	border-top: 1px solid #495152;
}
footer .nav {
	display: flex;
	justify-content: center;
}
footer .nav li {
	transition: all .2s;
	border-bottom: 2px solid transparent;
}
footer .nav li a {
	margin: 8px 0;
	padding: 0 20px;
	font-size: 12px;
	line-height: 1;
	border-right: 1px solid #495152;
}
/*footer .nav li a:hover {
	opacity: 1;
}*/
footer .nav li:last-child a {
	border: none;
}
/*footer .nav li:hover {
	border-bottom: 2px solid #495152;
}*/
footer .copyright {
	color: #ffffff;
	font-size: 10px;
	padding: 8px 0;
	background-color: #495152;
}
#pagetop {
	position: fixed;
	right: 0;
	bottom: 73px;
	font-size: 77%;
	z-index: 110;
}
#pagetop a {
	display: block;
	width: 68px;
	height: 68px;
	text-align: center;
	text-decoration: none;
	background-image: url("../img/common/pagetop.png");
	background-size: 100%;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
