@charset "utf-8";
/* CSS Document */
/* フォントサイズ等　デザインの80%スケールで設定 */

/* ------------------------------- */
/* common */
/* ------------------------------- */
.header_title {
	margin-bottom: 40px;
}
section {
	margin-bottom: 140px;
}
section h3 {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold !important;
	border-bottom: 1px solid #495152;
}
section h3 span {
	display: block;
}
section .inner {
	max-width: 882px;
	margin: 0 auto;
}
section .border {
	display: inline-block;
	min-width: 291px;
	margin-bottom: 20px;
	padding: 20px 120px 20px 20px;
	font-size: 20px;
	border: solid 5px #FCEBF3;
}
section .border .text {
	margin-top: 5px;
}
section .border .small {
	font-size: 14px;
}
section .text {
	line-height: 2;
	font-size: 13px;
}
/* ------------------------------- */
/* table */
/* ------------------------------- */
section table {
	width: 100%;
}
section table th,
section table td {
	padding: 20px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
section table th:last-child,
section table td:last-child {
	border-right: none;
}
section table th {
	background-color: #F6EDF0;
}
section table td {
	background-color: #F2F1ED;
}
