@charset "utf-8";
/* CSS Document */
/* フォントサイズ等　デザインの80%スケールで設定 */

/* ------------------------------- */
/* common */
/* ------------------------------- */
.site-content-contain {
	margin-bottom: 1.5%;
}
h3.ttl {
	font-size: 61px;
	line-height: 1;
}
.ttl-wrap {
	text-align: center;
}
.ttl-wrap .ttl {
	line-height: 1;
}
.ttl-wrap .text {
	margin-bottom: 1%;
	font-size: 13px;
}
.ttl-wrap .btn-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1%;
}
/* ------------------------------- */
/* main-copy */
/* ------------------------------- */
.main-content {
	position: relative;
}
.main-image {
	display: flex;
	align-content: center;
	overflow: hidden;
	max-height: 720px;
	line-height: 0;

	padding-top: 50%;
	background-image: url(/vogel-hiroshima/wp/wp-content/themes/vogel-hiroshima/img/index/main.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.main-image img {
	width: 100%;
	height: auto;
}
.main-copy {
	width: 40%;
	background: #c79f6d; /* Old browsers */
	background: -moz-linear-gradient(top left,  #c79f6d 0%, #856547 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top left,  #c79f6d 0%,#856547 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom right,  #c79f6d 0%,#856547 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c79f6d', endColorstr='#856547',GradientType=0 ); /* IE6-9 */

	display: inline-block;
	position: absolute;
	top: 86%;
	right: 11%;
	padding: 40px 58px;
	color: #fff;
}
.main-copy .ttl {
	margin-bottom: 30px;
	font-size: 32px;
	font-weight: normal;
}
.main-copy .text {
	line-height: 2;
}

@media screen and (min-width: 1550px) {
	.main-image {
		padding-top: 0;
		height: 720px;
	}
}

/* ------------------------------- */
/* information */
/* ------------------------------- */
.info-wrap {
	margin-bottom: 3.65%;
	padding: 100px 0 100px 16%;
/*	background-image: url("../img/common/bg_info.png");*/
	background-image: url("../img/common/bg_info.jpg");
	background-size: contain;
}
.info-wrap h3.ttl {
	margin-bottom: 20px;
	border-bottom: 1px solid currentColor;
}
.info-wrap .btn-wrap {
	margin-bottom: 20px;
}
.info-wrap .text {
	margin-right: 5px;
}
.topics_content_box {
	display: flex;
	margin-right: 65%;
	margin-bottom: 20px;
}
.topics_date {
	margin-right: 10px;
}

@media screen and (max-width: 1265px) {

}

/* ------------------------------- */
/* box-black */
/* ------------------------------- */
.box-black,
.box-black a,
.box-black a:link,
.box-black a:hover,
.box-black a:visited{
	color: #ffffff;
}
a.box-black-link:hover {
	opacity: 1;
}
.box-black-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.box-black {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: all 0.5s ease-out;
	transform: matrix3d(
		1, 0, 0, 0,
		0, 1, 0, 0,
		0, 0, 1, 0,
		0, 0, 0, 1
	);
	will-change: transform;
}
.box-black:hover {
	transform: matrix3d(
		1, 0, 0, 0,
		0, 1, 0, 0,
		0, 0, 1, 0,
		0, 0, 0, 0.9
	);
}
.box-black.lawyers {
	background-image: url(../img/index/top_lawyers.jpg);
}
.box-black.p-traffic {
	background-image: url(../img/practices/p_traffic.jpg);
}
.box-black.p-company {
	background-image: url(../img/practices/p_company.jpg);
}
.box-black.p-inheritance {
	background-image: url(../img/practices/p_inheritance.jpg);
}
.box-black.p-divorce {
	background-image: url(../img/practices/p_divorce.jpg);
}
.box-black.p-criminal {
	background-image: url(../img/practices/p_criminal.jpg);
}
.box-black.p-etc {
	background-image: url(../img/practices/p_etc.jpg);
}
.box-black.expense {
	background-image: url(../img/index/top_expense.jpg);
}
.box-black-wrap > .ttl {
	position: absolute;
	top: 0;
	pointer-events: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	z-index:1;
}
.box-black-wrap .icon {
	width: 16px;
	height: 16px;
	background-image: url(../img/common/icon_link_w.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;


}

@media screen and (max-width: 1265px) {

}

/* ------------------------------- */
/* box-width-two */
/* ------------------------------- */
.box-two {
	display: flex;
	align-items: center;
	margin-bottom: 6.5%;
}
.box-two .box-black-wrap {
	padding-top: 65.6%;
}
.box-two .left {
	width: 60%;
}
.box-two .box-black-wrap > .ttl {
	justify-content: flex-end;
	padding-right: 30px;
}
.box-two .right {
	width: 40%;
}
.box-two .btn-wrap {
	padding-left: 20px;
}

@media screen and (max-width: 1265px) {

}

/* ------------------------------- */
/* box-width-three */
/* ------------------------------- */
.box-three {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 7%;
	background-color: #495152;
}
.box-three .box-black-wrap {
	padding-top: 70.5%;
}
.box-three .box-black {
	opacity: 0.5;
}
.box-three a.box-black-link {
	width: 33.33333%;
}
.box-three .ttl {
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.box-three .ttl h4 {
	font-size: 28px;
}
.box-three .icon-wrap {
	display: flex;
	justify-content: center;
	width: 100%;
}

@media screen and (max-width: 1265px) {

}

/* ------------------------------- */
/* box-width-one */
/* ------------------------------- */
.box-one {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 5%;
}
.box-one .box-black-wrap {
	padding-top: 26%;
}
.box-one a.box-black-link {
	width: 100%;
}
.box-one .box-black-wrap > .ttl {
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.box-one h3.ttl {
	width: 100%;
	margin-bottom: 12px;
	text-align: center;
}
.box-one h4 {
	margin-right: 5px;
	font-size: 16px;
}
.box-one h4, .box-one .icon-wrap {
	margin-bottom: 10px;
}

@media screen and (max-width: 1265px) {

}

/* ------------------------------- */
/* access */
/* ------------------------------- */
.mapimage img {width: 100%;}
/*.mapimage .map {
	width: 100%;
	padding-top: 17.17%;
	background-image: url("../img/common/img_access.jpg");
	background-position: center right;
	background-size: cover;
}*/

#access.ttl-wrap .ttl {
	margin-bottom: 0.4%;
	line-height: 1;
}
#access.ttl-wrap .text {
	margin-bottom: 0.7%;
	font-size: 13px;
}
.mapimage {
	line-height: 0;
}
