@charset "utf-8";
/* CSS Document */
/* フォントサイズ等　デザインの80%スケールで設定 */

/* ------------------------------- */
/* common */
/* ------------------------------- */
#page_topics {
	max-width: 1100px;
	margin: 0 auto;
}
.single #page_topics {
	margin-top: 44px;
}
.site-content-contain {
	margin-bottom: 8%;
}

/* ------------------------------- */
/* list */
/* ------------------------------- */
.topics-box li {
	border-bottom: 1px solid #495152;
}
.topics-box li > a {
	padding: 17px 10px;
}
.topics_content_box {
	display: flex;
	line-height: 1.8;
}
.topics_content_box .date {
	width: 15%;
}
.topics_content_box .content {
	width: 85%;
}

/* ------------------------------- */
/* pagenavi */
/* ------------------------------- */
.wp-pagenavi {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 15px 0;
}
.wp-pagenavi > span,
.wp-pagenavi > a {
	padding-left: 10px;
	padding-right: 3px;
	font-size: 16px;
}
.wp-pagenavi > span:before,
.wp-pagenavi > a:before {
	content: '｜';
	margin-right: 15px;
}
.wp-pagenavi > a.smaller {
	padding-left: 0;
}
.wp-pagenavi > a.nextpostslink:before {
	margin-right: 0;
}
.wp-pagenavi > a.previouspostslink:before {
	content: '';
}

/* ------------------------------- */
/* content */
/* ------------------------------- */
.event_content .posted_date,
.event_content .posted_title {
	padding: 0 10px;
}
.event_content .posted_date {
	margin-bottom: 10px;
}
.event_content .posted_title {
	padding-bottom: 20px;
	font-size: 17px;
	font-weight: normal;
	border-bottom: 1px solid #495152;
}
.entry_content.entry_inner {
	padding: 22px 10px;
	border-bottom: 1px solid #495152;
}
.entry_content.entry_inner p {
	line-height: 2.7;
}
.entry_content.entry_inner > p:last-child {
	margin: 0;
}
.entry_content img {
	display: block;
	max-width: 100%;
}

/* ------------------------------- */
/* pagenavi */
/* ------------------------------- */
.nav-single {
	display: flex;
	justify-content: flex-end;
	padding: 20px 0;
}
.nav-single .nav_arc {
	display: flex;
	margin: 0 40px;
}
.nav-single .nav_arc > a {
	margin: 0 5px;
}
.nav-single .nav-previous .meta-nav {
	margin-left: 80px;
}