@charset "utf-8";
/* CSS Document */
/* フォントサイズ等　デザインの80%スケールで設定 */

/* ------------------------------- */
/* common */
/* ------------------------------- */
.header_title {
	margin-bottom: 40px;
}
#main {
	max-width: 882px;
	margin: 0 auto;
}
.content h3 {
	margin-bottom: 30px;
	font-size: 13px;
	text-align: center;
}
.content h3 .japanese {
	display: block;
	margin-bottom: 3px;
	font-size: 33px;
	line-height: 1.4;
	letter-spacing: 4px !important;
}
.content h3 .sub {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
	font-size: 14px;
}
.content .image {
	line-height: 0;
	margin-bottom: 50px;
}
.content .image img {
	width: 100%;
}
.content .text {
	margin-bottom: 60px;
	line-height: 2;
}

/* ------------------------------- */
/* table */
/* ------------------------------- */
.content .table {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.content .table > h4 {
	width: 20%;
	border: 1px solid #495152;
	padding: 12px 20px;
}
.content .table > .text {
	width: 80%;
	margin-bottom: 80px;
	padding: 15px 10px;
	line-height: 2;
}
.text li {
	text-indent: -1em;
	padding-left: 2em;
}










