@charset "utf-8";
/* CSS Document */
/* フォントサイズ等　デザインの80%スケールで設定 */

/* ------------------------------- */
/* common */
/* ------------------------------- */
.header_title {
	margin-bottom: 4%;
}
.content-wrap {
	display: flex;
	flex-wrap: wrap;
}
.content {
	display: flex;
	width: 100%;
	margin-bottom: 6.5%;
}
.content .image {
	width: 43%;
/*	max-width: 657px;*/
	line-height: 0;
}
.content .image img {
	width: 100%;
}
.content .text {
	width: 57%;
	padding-top: 60px;
}
.content .text h3,
.content .text .caption {
	padding: 0 20px;
}
.content .text h3 {
	position: relative;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 1px solid currentColor;
}
.content .text h3::after {
	content: "";
	position: absolute;
	right: 100%;
	bottom: -1px;
	width: 100vw;
	border-bottom: 1px solid currentColor;
}
.content.left .text h3::after {
	left: 100%;
}
.content.left .text h3::after {
	max-width: 0px;/*グロナビ幅固定用*/
}
.content.right .text h3::after {
	right: 100%;
}
.content .text .caption {
	line-height: 2;
}
.content.right .text {
	display: flex;
	flex-wrap: wrap;
	align-content: start;
	justify-content: flex-end;
	justify-items: stretch;
}
